@font-face {
  font-family: Nikkei Maru Light;
  src: url(Fonts/PPNikkeiMaru-Light.otf);
}

@font-face {
  font-family: Nikkei Maru Regular;
  src: url(Fonts/PPNikkeiMaru-Regular.otf);
}

@font-face {
  font-family: Libre Baskerville;
  src: url(Fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: PP Mori Semibold;
  src: url(Fonts/PPMori-SemiBold.otf);
}

@font-face {
  font-family: PP Mori Regular;
  src: url(Fonts/PPMori-Regular.otf);
}

@font-face {
  font-family: Partita;
  src: url(Fonts/Partita-Regular.otf);
}

:root {
  /* --title-font: 'Nikkei Maru Regular';  */
  --title-font: 'PP Mori Semibold'; 
  /* --base-font: 'Nikkei Maru Light'; */
  --base-font: 'PP Mori Regular';
  --word-font: 'Libre Baskerville';
  --pixel-font: 'Partita';

  --font-size: 16px;
  --line-height: 150%;
  --spacing: 10px;

  --dark-grey:#0B0B0B;
  --light-grey: #c9c9c9;
  --white: #FFFFFF;
  --beige: #f6f1e5;
  --light-brown: #DDC280;
  --lemon: #EEF26D;
  --deep-blue: #0B66C2;
  --light-pink: #ffbcdb;

  --delay: 0.5s;
}
/* GENERAL- ****************************************************************  */
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  color: var(--white);
  background-color: var(--dark-grey);
  width: 100vw;
}

span {
  font-family: var(--pixel-font);
}

body {
  overflow-x: hidden;
}

/* LANDING PAGE - ****************************************************************  */
.graphics {
  display: none;
}

.homepage-words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.static-word, .moving-word {
  font-family: var(--word-font);
  font-size: calc(1* var(--font-size));
  background-color: var(--beige);
  border: 1px solid var(--dark-grey);
  padding: 5px 10px;
  margin: var(--spacing);
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
}

.header-1 {
  font-size: calc(2.7* var(--font-size));
  line-height: calc(0.7* var(--line-height));
  width: 80%;
}

.header-2 {
  font-family: var(--title-font);
  font-size: calc(2* var(--font-size));
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  width: 80%;
}

.introduction-text {
  font-family: var(--base-font);
  text-align: left;
  font-size: calc(1.1* var(--font-size));
  width: 80%;
  line-height: var(--line-height);
}

.introduction button {
  padding: 0.6em;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.introduction .header-1, .header-2 {
  padding: calc(2* var(--spacing));
  border: 2px solid var(--dark-grey);
  /* background-color: var(--light-brown); */
}


/* NAVBAR - **************************************************************** */
nav {
  width: 100vw;
}

nav img {
  margin-left: 5%;
  margin-top: 5%;
  max-height: calc(6* var(--spacing));
}


/* QUESTIONS - ****************************************************************  */
h1 {
    font-family: var(--title-font);
    font-size: calc(2.2* var(--font-size));
    text-align: center;
    margin-top: 1.7em;
    margin-bottom: 0.8em;
    width: 80%;
  }

  p {
    font-family: var(--base-font);
    text-align: center;
  }


.button-container {
  display: flex;
  gap: calc(3* var(--spacing));
}

button {
  font-family: var(--base-font);
  font-size: calc(1.1* var(--font-size));
  padding: 0.6em;
  border: 1.5px solid var(--dark-grey);
  color: var(--dark-grey);
  background-color: var(--light-brown);
  margin-bottom: 1.5em;
}

button:hover {
  background-color: var(--dark-grey);
  color: var(--white);
}

.prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* MAGNETIC POETRY - **************************************************************** */

#word-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin-bottom: 3em;
  max-height: 200px;
  overflow-y: scroll;
}

.word {
  font-family: var(--word-font);
  font-size: calc(1* var(--font-size));
  background-color: var(--beige);
  border: 1px solid var(--dark-grey);
  padding: 5px 10px;
  margin: 5px;
  cursor: grab;
  display: inline;

  /* The internet says this makes the word selection go away but it has not. Revisit if you have time */
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#sentence .word {
  font-family: var(--word-font);
  font-size: calc(1* var());
  background-color: var(--beige);
  border: 1px solid var(--dark-grey);
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;

  display: inline;
}

#sentence-container {
  min-height: 4em;
  min-width: 90%; 
  word-wrap: break-word;
  overflow-y: auto;
}

#sentence-container button {
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

#sentence, #sentence1, #sentence2 {
  border: 2px solid var(--dark-grey);
  padding: calc(2* var(--spacing));

  margin-top: 0.3em;
  min-height: calc(8* var(--spacing));
  min-width: 70%; 
  word-wrap: break-word;
  overflow-y: auto;
}

.dropzone {
  font-family: var(--base-font);
  font-size: calc(1.2* var(--font-size));
  line-height: var(--line-height); 
  text-align: center;
  color: var(--dark-grey);
}

.over {
  background-color: var(--lemon);
}




/* ****************************************************************************************************************** */
/* MEDIA QUERIES - LAPTOPS and LARGER SCREENS */
@media (min-width: 1000px) {
 /* LANDING PAGE */
.graphics {
  width: 40%;
  background-color: var(--dark-grey);
  display: flex;
  overflow: hidden;
}

.homepage-words {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 75%;

  margin-left: calc(2* var(--spacing));
}


.static-words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  position: fixed; 
  top: 30%; 
  max-width: 36%;
}

.static-word {
  font-size: calc(1.2* var(--font-size));
}

.moving-words {
  display: flex;
  flex-wrap: wrap;
  
  position: fixed; 
  top: 40%;
  max-width: 36%;
}

.moving-word {
  font-size: calc(1.2* var(--font-size));
  display: flex;
  flex-wrap: wrap;

  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

/* ANIMATION */
@keyframes fadeInWord {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

/* Find a more efficient way to do this at some point :')' */
.moving-word:nth-child(1) {
  animation-delay: 0.5s; 
}

.moving-word:nth-child(2) {
  animation-delay: 1s; 
}

.moving-word:nth-child(3) {
  animation-delay: 1.5s; 
}

.moving-word:nth-child(4) {
  animation-delay: 2s; 
}
.moving-word:nth-child(5) {
  animation-delay: 2.5s; 
}

.moving-word:nth-child(6) {
  animation-delay: 3s; 
}

.moving-word:nth-child(7) {
  animation-delay: 3.5s; 
}

.moving-word:nth-child(8) {
  animation-delay: 4s; 
}

.moving-word:nth-child(9) {
  animation-delay: 4.5s; 
}

.moving-word:nth-child(10) {
  animation-delay: 5s; 
}

.moving-word:nth-child(11) {
  animation-delay: 5.5s; 
}

.moving-word:nth-child(12) {
  animation-delay: 6s; 
}

.moving-word:nth-child(13) {
  animation-delay: 6.5s; 
}

.moving-word:nth-child(14) {
  animation-delay: 7s; 
}

.moving-word:nth-child(15) {
  animation-delay: 7.5s; 
}


/* STILL THE LANDING PAGE - Keep scrolling ------*/
.homepage {
  display: flex;
}

.introduction {
  width: 65%;
}

.header-1 {
  font-size: calc(5.5* var(--font-size));
  margin-top: 0.7em;
  margin-bottom: 0.8em;
  width: 65%;
}

.header-2 {
  font-size: calc(3* var(--font-size));
  margin-top: 1em;
  margin-bottom: 0.8em;
  width: 65%;
}

.introduction-text {
  font-family: var(--base-font);
  text-align: left;
  font-size: calc(1.2* var(--font-size));
  width: 65%;
}
 
 
/* NAVBAR */
nav {
  width: 100vw;
}

nav img {
  margin-left: 2.2%;
  margin-top: 1.5%;
  max-height: calc(8* var(--spacing));
  position: fixed;
}


/* QUESTIONS */
h1 {
    font-size: calc(3.5* var(--font-size));
    margin-top: 2em;
    margin-bottom: 0.8em;
  }

  .button-container {
    display: flex;
    gap: calc(2* var(--spacing));
  }
  
  button {
    font-family: var(--base-font);
    font-size: calc(1.2* var(--font-size));
    padding: 0.6em;
    margin-bottom: 1.6em;
  }

/* MAGNETIC POETRY */
  #word-container {
    width: 70%;
    margin-bottom: 2em;
    max-height: 100%;
    overflow-y: none;
  }
  
  .word {
    font-size: calc(1.1* var(--font-size));
  }
  
  #sentence .word {
    font-size: calc(1.1* var());
    padding: 5px 10px;
    margin: 5px;
  }
  
  #sentence-container {
    min-width: 70%; 
    word-wrap: break-word;
    overflow-y: auto;
  }
  
  #sentence-container button {
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  #sentence, #sentence1, #sentence2 {
    padding: calc(2* var(--spacing));
  
    margin-top: 0.3em;
    min-height: calc(10* var(--spacing));
    min-width: 70%; 
    word-wrap: break-word;
    overflow-y: auto;
  }
  
  .dropzone {
    font-size: calc(1.2* var(--font-size));
  }
  
  .over {
    background-color: var(--light-grey);
  }
  
/* FOOTER */
footer {
  font-size: calc(1.2* var(--font-size));
}

}

/* ****************************************************************************************************************** */
/* MEDIA QUERIES - PRINT */
@media print {
  .hidden-for-pdf {
    display: none !important;
  }

  #word-container {
    display: none;
  }

  #sentence, #sentence1, #sentence2 {
    border: var(--white);
  }

  title, head, button, nav, footer {
    display: none;
  }


}